#user_icon {
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#user_img {
	width: 125px;
	height: 125px;
}

.backg {
	background-color: white;
}

#text_register {
	color: #FF9503;
}

#app_login {
	margin: 0px auto;
	margin-left: 6%;
	margin-right: 6%;
}

#button_register {
	width: 100%;
	background-color: #FF9503;
	border-radius: 7px;
}

#page_foot {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	z-index: 9999;
}


/*游客*/

#user_visitor {
	float: left;
	margin-left: 10px;
}


/*已有账号*/

#user_login {
	margin-right: 20px;
	float: right;
}

#body {
	background-color: white;
}

.backcolor {
	/*圆角大小*/
	border-radius: 5px;
	background-color: #FF9503;
	/*透明度*/
	opacity: 0.30196078431372547;
}