html,
body {
	height: 100%;
	overflow: hidden;
}

#user_icon {
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

#user_img {
	width: 28%;
	height: 28%;
}

.backg {
	background-color: white;
}

#text_register {
	color: #FF9503;
}

#app_login {
	margin: 0px auto;
	margin-left: 6%;
	margin-right: 6%;
}

#button_register {
	width: 100%;
	background-color: #FDD58C;
	border-radius: 7px;
	height: 40px;
	margin-top: 15%;
}

#page_foot {
	/*position: fixed;*/
	margin-top: 25%;
	width: 100%;
	height: 50px;
	z-index: 9999;
	position: absolute;
}


/*游客*/

#user_visitor {
	float: left;
	margin-left: 10px;
}


/*已有账号*/

#user_login {
	margin-right: 20px;
	float: right;
}

#body {
	background-color: white;
}

.backcolor {
	/*圆角大小*/
	border-radius: 10px;
	background-color: #FF9503;
	/*透明度*/
	opacity: 0.30196078431372547;
}

.id {
	border-radius: 10px;
	background-color: #FF9503;
	opacity: 0.30196078431372547;
	width: 80%;
}

.psw {
	border-radius: 10px;
	background-color: #FF9503;
	opacity: 0.30196078431372547;
}

.input_icon {
	width: 15pt;
	height: 15pt;
	margin-left: 10px;
	margin-top: 10px;
}

#input {
	width: 80%;
}