#user_icon {
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#user_img {
	width: 125px;
	height: 125px;
}
.backg{
	background-color: white;
}
#text_register {
	color: #080602;
}

#app_login {
		color: #FF9503;
	margin: 0px auto;
	margin-left: 6%;
	margin-right: 6%;
}

#button_register {
	width: 100%;
	background-color: #FF9503;
	border-radius: 7px;
}

#page_foot {
	bottom: 20px;
	width: 100%;
	position: absolute;
	float: left;
}
#forget_ID{
	text-align: center;
	
	
}
#tips
{
	text-align: center;
}
