#user_icon {
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

#user_img {
	width: 28%;
	height: 28%;
}

.backg {
	background-color: white;
}

#text_register {
	color: #080602;
}

#text_login {
	color: #FF9503;
}

#id_zone {
	/*圆角大小*/
	border-radius: 5px;
	background-color: #FF9503;
	/*透明度*/
	opacity: 0.30196078431372547;
}

#passwd_zone {
	border-radius: 5px;
	background-color: #FF9503;
	opacity: 0.30196078431372547;
}

#app_login {
	color: #FF9503;
	margin: 0px auto;
	margin-left: 6%;
	margin-right: 6%;
}

#button_login {
	width: 100%;
	background-color: #FDD58C;
	border-radius: 7px;
	height: 35px;
	margin-top: 15%;
}

#page_foot {
	bottom: 20px;
	width: 100%;
	position: absolute;
	float: left;
}

#lost {
	float: right;
	font-size: 17px;
}

#icon_line {
	width: 50%;
	border: 1px solid #A8A4A5;
	margin-left: 25%;
}

#shiyu {
	margin-top: 30%;
	text-align: center;
}

#qq_icon {
	height: 26px;
	width: 26px;
	margin: 5px;
	opacity: 0.41;
}

#wechat_icon {
	height: 25px;
	width: 25px;
	margin: 5px;
	opacity: 0.41;
}

#alipay_icon {
	height: 25px;
	width: 25px;
	margin: 5px;
	opacity: 0.41;
}

#icon {
	margin-top: 3%;
}

#img_id {
	width: 15pt;
	height: 15pt;
	margin-left: 10px;
	margin-top: 10px;
}

#input_id {
	width: 80%;
	height: 35px;
	color: #000000;
}

#img_psw {
	width: 15pt;
	height: 15pt;
	margin-left: 10px;
	margin-top: 10px;
}

#input_psw {
	width: 80%;
	height: 35px;
	color: #000000;
}