/*self控制页边距*/

.self {
	margin-right: 5%;
}

.goods_name {
	color: #A6A6A7;
	margin-top: 8%;
}

.goods_describe {
	margin-top: 4%;
	margin-bottom: 10%;
}

.goods_img {
	height: 130px;
	width: 130px;
}

.positon {
	margin-top: 5%;
}

.positon_icon {
	height: 25px;
	margin-left: 5%;
}

.positon_data {
	padding-top: 1%;
	position: absolute;
	margin-left: 5px;
	font-size: 15px;
	color: #868686;
}

.checkbox {
	position: relative;
	height: 30px;
	float: right;
	width: 29%;
}

.checkbox input[type='checkbox'] {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	opacity: 0;
}

.checkbox label {
	position: absolute;
	left: 30px;
	top: 0;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
}

.checkbox label:before {
	content: '';
	position: absolute;
	left: -30px;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	border-radius: 50%;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.checkbox label:after {
	content: '';
	position: absolute;
	left: -22px;
	top: 3px;
	width: 6px;
	height: 12px;
	border: 0;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.checkbox input[type='checkbox']:checked+label:before {
	background: #FFDD48;
	border-color: #FFDD48;
}

.checkbox input[type='checkbox']:checked+label:after {
	background: #FFDD48;
}
.bg_camp
{
	width: 100%;
	height: 10px;
	background-color: #F1F5F8;
}
.nsubtn
{
	width: 85%;
	height: 40px;
	background-image:url(http://img.linxixiangxin.top/顶栏.png);
}
