#self_info
{
	background-color: white;
}

#user_icon
{
height: 80px;
margin-top: -10%;
margin-left: 15%;
}
#name
{
	font-size: 20px;	
}
#info{
	font-size: 16px;
	margin-top: 4%;
	color: #C5C1C1;
}
.list_icon
{
	width: 10%;
/*高度无效 不设置*/
}

.info_bar
{
	float: left;
	display: block;
	width: 33%;
	height: 30px;
	text-align: center;
	padding-top: 10%;
	
}
.fuck:before
{
	background-color: transparent;
	width: 80%;
	float: right;
	height: 10px;
	margin-left: 10%;
}
