#self_info
{
	background-color: white;
}

#user_icon
{
height: 80px;
margin-top: -10%;
margin-left: 15%;
}
#name
{
	font-size: 20px;	
}
#info{
	font-size: 16px;
	margin-top: 4%;
	color: #C5C1C1;
}
.list_icon
{
	width: 10%;
/*高度无效 不设置*/
}

.info_bar
{
	float: left;
	display: block;
	width: 33%;
	height: 30px;
	text-align: center;
	padding-top: 3%;
	
}

.figure{
	color: black;
	font-size: 20px;
}

.tips
{
color: #C5C5C1;
font-size: 15px;
margin-top: 5%;

}
.number_tips
{
	color: #C5C1C1;
	margin-left: 0s%;
	margin-top: 4px;
width: 100%;
}
